<strong>Hi, {{ student }} </strong>

<p>One member of our team have replied you!</p>

<p>
 <strong>Your question: </strong> {{ question }} <br />
 <strong>Answer: </strong> {{ answer }} <br />
 <strong>Answered at: </strong> {{ answer_at }} <br />
 <br />
<p>If you have any other question, please submit. Thank you!</p>
</p>
